  <html ng-app="restApp">
    <head>
      <title>AngularJS Books Storage Service</title>
      <script src="app/angular.min.js"></script>  
      <script src="app/restApp.js"></script>  
      <script src="app/BooksController.js"></script>
      <link href="app/Style.css" rel="stylesheet" type="text/css" />  
    </head>
    <body ng-controller="BooksController">
      <div>
        <h4>Show All Books</h2>
        <table>  
            <tr ng-show="books!=undefined"> 
                <th>ID</th> 
                <th>Author</th>  
                <th>Title</th>  
            </tr>  
            <tr ng-repeat="b in books">
                <td>{{b.Id}}</td>  
                <td>{{b.Author}}</td>  
                <td>{{b.Title}}</td>  
            </tr> 
        </table>
        <button ng-click="getAll()">Get Books</button>
        <br>
        <span>{{message[0]}}</span>
      </div>
      <div>
            <h4>Select Book</h2>
            <div>
                <span>ID: </span>
                <input type="text" ng-model="gID">
            </div>
            <table>  
                <tr ng-show="book!=undefined"> 
                    <th>Author</th>  
                    <th>Title</th>  
                </tr>  
                <tr ng-show="book!=undefined">  
                    <td>{{book.Author}}</td>  
                    <td>{{book.Title}}</td>  
                </tr> 
            </table>
            <br>
            <button ng-click="get()">Get Book</button>
            <br>
            <span>{{message[1]}}</span>
          </div>
      <div>
          <h4>Add Book</h2>
          <table>
                <tr>  
                    <td>Author :</td>  
                    <td><input type="text" ng-model="nbook.Author"> </td>  
                </tr>  
                <tr>  
                    <td>Title :</td>  
                    <td><input type="text" ng-model="nbook.Title"> </td>  
                </tr>
          </table>
          <br>
          <button ng-click="post()">Add Book</button>
          <br>
          <span>{{message[2]}}</span>
       </div>
       <div>
            <h4>Update Book</h2>
            <table>
                  <tr>  
                      <td>ID :</td>  
                      <td><input type="text" ng-model="ubook.ID"> </td>  
                  </tr> 
                  <tr>  
                      <td>Author :</td>  
                      <td><input type="text" ng-model="ubook.Author"> </td>  
                  </tr>  
                  <tr>  
                      <td>Title :</td>  
                      <td><input type="text" ng-model="ubook.Title"> </td>  
                  </tr>
            </table>
            <br>
            <button ng-click="put()">Update Book</button>
            <br>
            <span>{{message[3]}}</span>
        </div>
        <div>
            <h4>Delete Book</h2>
                <div>
                    <span>ID: </span>
                    <input type="text" ng-model="dID">
                </div>
            <br>
            <button ng-click="delete()">Delete Book</button>
            <br>
            <span>{{message[4]}}</span>
        </div>
    </body>
  </html>